--indent 2
--swiftversion 6.2
--allman false
--exclude Pods,Carthage,.build,**/.build,**/Generated,**/*.generated.swift,**/Assets.swift,.git,script
--disable wrapMultilineStatementBraces
--commas always
--extension-acl on-extension
